In [97]:
import pandas as pd
import numpy as np

In [236]:
co_dataset = pd.read_csv('./datasets/CO-2015-2019.csv')
co_headers = co_dataset.iloc[0]
co_dataset  = pd.DataFrame(co_dataset.values[1:], columns=co_headers)

fdp_dataset = pd.read_csv('./datasets/CO-2015-2019.csv')
fdp_headers = fdp_dataset.iloc[0]
fdp_dataset  = pd.DataFrame(fdp_dataset.values[1:], columns=fdp_headers)

In [237]:
co_dataset.head()

,Date,Hour,Sofia-EEA Pavlovo,Sofia - Kopitoto,Sofia - Mladost,Sofia - Orlov Most,Sofia -Hipodrome
0,1/1/2015,1:00,1.09,0.21,NaN,1.34,0.87
1,1/1/2015,2:00,1.7,0.23,NaN,1.84,1.43
2,1/1/2015,3:00,1.71,0.2,NaN,1.74,1.84
3,1/1/2015,4:00,1.96,0.21,NaN,2.16,1.75
4,1/1/2015,5:00,1.28,0.24,NaN,1.16,1.72

In [238]:
fdp_dataset.head()

,Date,Hour,Sofia-EEA Pavlovo,Sofia - Kopitoto,Sofia - Mladost,Sofia - Orlov Most,Sofia -Hipodrome
0,1/1/2015,1:00,1.09,0.21,NaN,1.34,0.87
1,1/1/2015,2:00,1.7,0.23,NaN,1.84,1.43
2,1/1/2015,3:00,1.71,0.2,NaN,1.74,1.84
3,1/1/2015,4:00,1.96,0.21,NaN,2.16,1.75
4,1/1/2015,5:00,1.28,0.24,NaN,1.16,1.72

In [239]:
# И двата дейта сета имат еднакъв брой редове и колони
co_dataset.shape

(43824, 7)

In [240]:
fdp_dataset.shape

(43824, 7)

In [241]:
# И двата дейта сета имат колони с еднакви имена
co_dataset.columns

Index(['Date', 'Hour', 'Sofia-EEA Pavlovo', 'Sofia - Kopitoto',
       'Sofia - Mladost', 'Sofia - Orlov Most', 'Sofia -Hipodrome'],
      dtype='object', name=0)

In [242]:
fdp_dataset.columns

Index(['Date', 'Hour', 'Sofia-EEA Pavlovo', 'Sofia - Kopitoto',
       'Sofia - Mladost', 'Sofia - Orlov Most', 'Sofia -Hipodrome'],
      dtype='object', name=0)

In [243]:
co_dataset.describe()

,Date,Hour,Sofia-EEA Pavlovo,Sofia - Kopitoto,Sofia - Mladost,Sofia - Orlov Most,Sofia -Hipodrome
count,43824,43824,42444,39922,35947,6569,42989
unique,1826,24,521,172,416,391,541
top,1/1/2015,1:00,0.31,0.23,0.36,0.34,0.35
freq,24,1826,984,975,759,119,792

In [244]:
fdp_dataset.describe()

,Date,Hour,Sofia-EEA Pavlovo,Sofia - Kopitoto,Sofia - Mladost,Sofia - Orlov Most,Sofia -Hipodrome
count,43824,43824,42444,39922,35947,6569,42989
unique,1826,24,521,172,416,391,541
top,1/1/2015,1:00,0.31,0.23,0.36,0.34,0.35
freq,24,1826,984,975,759,119,792

In [245]:
co_dataset = co_dataset.rename(columns={"Sofia-EEA Pavlovo":"Pavlovo", "Sofia - Kopitoto":"Kopitoto", "Sofia - Mladost":"Mladost", "Sofia - Orlov Most":"OrlovMost", "Sofia -Hipodrome":"Hipodrome"})

In [246]:
fdp_dataset = co_dataset.rename(columns={"Sofia-EEA Pavlovo":"Pavlovo", "Sofia - Kopitoto":"Kopitoto", "Sofia - Mladost":"Mladost", "Sofia - Orlov Most":"OrlovMost", "Sofia -Hipodrome":"Hipodrome"})

In [247]:
sum(co_dataset.duplicated())

0

In [248]:
sum(fdp_dataset.duplicated())

0

In [249]:
co_dataset.isnull().sum()

0
Date             0
Hour             0
Pavlovo       1380
Kopitoto      3902
Mladost       7877
OrlovMost    37255
Hipodrome      835
dtype: int64

In [250]:
fdp_dataset.isnull().sum()

0
Date             0
Hour             0
Pavlovo       1380
Kopitoto      3902
Mladost       7877
OrlovMost    37255
Hipodrome      835
dtype: int64

In [251]:
# Convert string values to float
co_dataset["OrlovMost"] = pd.to_numeric(co_dataset["OrlovMost"], downcast="float")
co_dataset["Pavlovo"] = pd.to_numeric(co_dataset["Pavlovo"], downcast="float")
co_dataset["Kopitoto"] = pd.to_numeric(co_dataset["Kopitoto"], downcast="float")
co_dataset["Mladost"] = pd.to_numeric(co_dataset["Mladost"], downcast="float")
co_dataset["Hipodrome"] = pd.to_numeric(co_dataset["Hipodrome"], downcast="float")

fdp_dataset["OrlovMost"] = pd.to_numeric(fdp_dataset["OrlovMost"], downcast="float")
fdp_dataset["Pavlovo"] = pd.to_numeric(fdp_dataset["Pavlovo"], downcast="float")
fdp_dataset["Kopitoto"] = pd.to_numeric(fdp_dataset["Kopitoto"], downcast="float")
fdp_dataset["Mladost"] = pd.to_numeric(fdp_dataset["Mladost"], downcast="float")
fdp_dataset["Hipodrome"] = pd.to_numeric(fdp_dataset["Hipodrome"], downcast="float")

In [252]:
# Запълваме нълл стойсностите със средното, а не медианата, тъй като нямаме стойности много-над, много-по между останалите стойности за тази колона
# Fill null's for the column's
co_dataset['OrlovMost'].fillna((co_dataset['OrlovMost'].mean()), inplace=True)
co_dataset['Pavlovo'].fillna(method = 'backfill', inplace=True)
co_dataset['Kopitoto'].fillna(method = 'backfill', inplace=True)
co_dataset['Mladost'].fillna(method = 'backfill', inplace=True)
co_dataset['Hipodrome'].fillna(method = 'backfill', inplace=True)

fdp_dataset['OrlovMost'].fillna((fdp_dataset['OrlovMost'].mean()), inplace=True)
fdp_dataset['Pavlovo'].fillna(method = 'backfill', inplace=True)
fdp_dataset['Kopitoto'].fillna(method = 'backfill', inplace=True)
fdp_dataset['Mladost'].fillna(method = 'backfill', inplace=True)
fdp_dataset['Hipodrome'].fillna(method = 'backfill', inplace=True)

In [253]:
co_dataset.isnull().sum()

0
Date         0
Hour         0
Pavlovo      0
Kopitoto     0
Mladost      0
OrlovMost    0
Hipodrome    0
dtype: int64

In [254]:
fdp_dataset.isnull().sum()

0
Date         0
Hour         0
Pavlovo      0
Kopitoto     0
Mladost      0
OrlovMost    0
Hipodrome    0
dtype: int64

521

(43824, 7)